@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --bgColor:#333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #fd4;
}
body{
    font-family: "Roboto", sans-serif;
  
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}
main{
    width:600px;
    margin: 50px auto;
}
h1{
    color:var(--primaryColor)
}
h1 svg{
    width:50px;
    fill: var(--primaryColor)
}
#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}
.buttons{
    text-align: right;
    
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
#info{
    color:var(--primaryColor);
}
#words{
    font-family: "Roboto Mono", sans-serif;
    position: relative;
    z-index: 1;
    filter: blur(5px);
    color: var(--textSecondary);
}
#game{
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
    outline: none;
    
}
#focus-error{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    inset: 0;
    text-align: center;
    padding-top: 35px;
    cursor: pointer;

}

#game:focus #words{
    filter: blur(0);
}

#game:focus #focus-error{
    display: none;
}
.letter.correct{
    color:#fff;
}
.letter.incorrect{
    color:red;
}
#cursor {
   position: absolute;
  width: 2px;
  height: 1.5em;
  background-color: #fd4;
  animation: blink 1s ease-in-out infinite;
  pointer-events: none;
  opacity: 0;
  transition: top 0.1s ease, left 0.1s ease;
}
#game:focus #cursor {
  opacity: 1; 
}

@keyframes blink {
 0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.ghost-error {
  color: red;
  opacity: 0.4;
  margin-left: 1px;
  font-weight: bold;
  transition: opacity 0.3s ease;
}